DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=book.a-esthetic.de,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://book.a-esthetic.de
DB_ENGINE=postgresql
DB_NAME=aestheticbook
DB_USER=aestheticbook
DB_PASSWORD=
DB_HOST=
DB_PORT=
BOOKING_NOTIFICATION_EMAIL=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=1
DEFAULT_FROM_EMAIL=A+esthetic <termin@a-esthetic.de>
